.sidebar{

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 15px;
    min-height: 100vh;
    background-color:#f0f4f9;
}

.sidebar img{
    width: 25px;
}

.menu{

    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.new-chat{
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    padding: 5px 15px;
    background-color: #e6eaf1;
    color: grey;
    font-size: 14px;
    gap:10px ;
    border-radius: 50px;
    cursor: pointer;
}

.recent{
    display: flex;
    flex-direction: column;
}

.title{

    margin-top: 30px;
    margin-bottom: 20px;
}

.recent-items{

    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    color: #282828;
    border-radius: 50px;
    cursor: pointer;
}

.recent-items:hover{
  
    background-color: #e2e6eb;
}

.bottom-item{

    padding-right: 10px;
}

@media  (max-width:600px) {

    .sidebar{

        display: none;
    }
    
}




